JWT_SECRET=your_jwt_secret
JWT_EXPIRESIN=your_expiresin
RABBITMQ_USERNAME=your_rmq_name
RABBITMQ_PASSWORD=your_rmq_password
RABBITMQ_HOST=your_rmq_host
RABBITMQ_PORT=you_rmq_port
MONGO_URI=your_mongo_uri